<div class="container mt-5">
    <div style="height: 50px;"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">LISTADO DE PRODUCTOS</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <button style="float: left; margin: 20px 5px 20px 0" (click)="abrirModalAgregar()" mat-raised-button color="primary">Agregar producto</button>
                        </div>
                    </div>
                    <div class="cuadro-busqueda row border p-2">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col">
                                  <input [(ngModel)]="claveProveedor" ype="text" class="form-control" placeholder="Clave proveedor">
                                </div>
                                <div class="col">
                                    <select id="idProveedor" class="form-select" [(ngModel)]="idProveedor">
                                        <option value="0">Seleccione...</option>
                                        <option *ngFor="let proveedor of listProveedores" [value]="proveedor.id">
                                            {{ proveedor.nombre }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select id="tipoProducto" class="form-select" [(ngModel)]="idTipoProducto">
                                        <option value="0">Seleccione...</option>
                                        <option *ngFor="let tipoProducto of listTiposProducto" [value]="tipoProducto.id">
                                            {{ tipoProducto.nombre }}
                                        </option>
                                    </select>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-3">
                            <button (click)="buscarProductos()" class="btn btn-success" style="float: right;">Buscar</button>
                        </div>
                    </div>
                    <table class="table mt-5">
                        <thead>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Clave Proveedor</th>
                            <th>Tipo Producto</th>
                            <th>Precio</th>
                            <th colspan="2">Operaciones</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of listProductos; ">
                                <td>{{producto.id}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.idProveedorNavigation.nombre}}</td>
                                <td>{{producto.claveProductoProveedor}}</td>
                                <td>{{producto.tipoProductoNavigation.nombre}}</td>
                                <td>{{producto.precio}}</td>
                                <td><i (click)="abrirModalModificar(producto)" class="far fa-edit text-info"></i></td>
                                <td><i (click)="eliminarProducto(producto.id)" class="far fa-trash-alt text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
    </div>  
</div>

