<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" [href]="urlPrincipal()">Distribuidora ALM</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-info" aria-current="page" href="/productos">Productos</a>
        </li>
      </ul>
      <div class="d-flex">
        <button [hidden]="!estaLogueado()" (click)="cerrarSesion()" class="btn btn-danger" >Cerrar sesión</button>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>